/*
Solarized color scheme, see http://ethanschoonover.com/solarized

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

body {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fdf6e3; /* base3 */
    color: #002b36; /* base03 */
    font-family: sans-serif;
}

form {
    display: table;
    line-height: 3em;
}

form div {
    display: table-row;
}

form label, form input, form select, form button, form a {
    display: table-cell;
}

form label {
    width: 150px;
    font-family: sans-serif;
    font-size: 1.1em;
}

select {
    max-width: 100%;
    width: 250px;
    height: 40px;

}

button {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    line-height: 1.1em;
    margin: 0.5em 0;
    font-family: sans-serif;
}

#timer {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 1em 0;
    padding: 0.5em 0;
    border: 2px solid #657b83; /* base00 */
    border-radius: 5px;
}

#statusbar {
    font-size: 1.1em;
    text-align: center;
    padding: 0.5em 0;
    margin: 0.5em 0;
    background-color: #859900; /* green */
    border-radius: 5px;
    font-family: sans-serif;
}

@media (max-width: 200px) {
    select {
        width: 100%;
    }

    #timer {
        font-size: 12vw;
    }

    h1 {
        font-size: 12vw;
    }
}

table {
    width: 100%;
}

table, td, th {
    border: 1px solid #002b36; /* base03 */
}

th {
    font-weight: bold;
    background-color: #93a1a1; /* base1 */
    text-align: left;
}

td, th {
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #eee8d5; /* base2 */
}

tbody tr:hover {
    background-color: #268bd2; /* blue */
    color: #fdf6e3;
}

.table-container {
    overflow-x: auto;
}

.summary {
    margin: 1em 0;
}

.summary ul {
    list-style: square inside;
    margin: 1em 0;
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

div.button-box {
    margin: 2em auto;
}

.button {
    border: 3px solid #657b83; /* base00 */
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #002b36; /* base03 */
    font-size: 1.1em;
}

.button:hover:not(:disabled) {
    border: 3px solid #93a1a1; /* base1 */
    color: #eee8d5; /* base2 */
}

.button:disabled {
    background-color: #eee8d5; /* base2 */
    color: #657b83; /* base00 */
}

.ok {
    background-color: #2aa198; /* cyan */
}

.cancel {
    background-color: #dc322f; /* red */
}

hr {
    height: 3px;
    color: white;
    background: #657b83; /* this is the actual color of the line */ /* base00 */
    border: 0;
    margin-bottom: 2em;
}

.main-content {
    display: none;
}

div.noscript {
    font-weight: bold;
    text-align: center;
    margin: 2em auto;
}

a {
    color: #268bd2; /* blue */
}

a:visited {
    color: #6c71c4; /* violet */
}

a:hover {
    color: #d33682; /* magenta */
}

.navbar {
    padding: 1em 0 1em 1em;
    background-color: #eee8d5; /* base2 */
    border-radius: 0 0 0.5em 0.5em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: #93a1a1; /* base1 */
    color: #fdf6e3; /* base3 */
    padding: 0.8em 0.5em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.2em;
    min-width: 10em;
    display: block;
    text-align: center;
}

.drop-button:hover, .drop-button:focus {
    background-color: #268bd2; /* blue */
}

.drop-button:visited, .drop-button:hover {
    color: #fdf6e3; /* base3 */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdf6e3; /* base3 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;
}

.dropdown-content a {
    color: #002b36; /* base03 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #eee8d5; /* base2 */
}

.show {
    display: block;
}

#prevDay {
    float: left;
}

#nextDay {
    float: right;
}

.angle {
    text-decoration: none;
}

a.angle:visited {
    color: #268bd2; /* blue */
}

/* a.angle:visited is more specific than a:hover, so next rule is necessary */
a.angle:hover {
    color: #d33682; /* magenta */
}
